/* 
    css for flexbox containers
    Justify == Main axis
    align == Cross axis
*/
.row-flex {
  color:white;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  background-color: #252423;
  min-height: 75px;
  font-size: 20px;
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/*
  Default css override
*/
li {
    display: inline-block;
    margin: 5px;
    list-style: none
}

svg {
  min-width: 30px;
  width: 0.5vw;
}

a {
  color: white;
  min-height: 50px;
  text-decoration: none;
  padding: 10px 5px 5px 5px;
}


/*
  tag css
*/
#name {
  font-size: 25px;
}

/*
  Animation css
*/
a:hover {
  color: red;
  border-bottom: solid;
}

path {
  fill:white;
}