/* 
    css for flexbox containers
    Justify == Main axis
    align == Cross axis
*/
.flex {
  color:white;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  background-color: #252423;
  min-height: 75px;
  font-size: 20px;
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*
  Default css override
*/
li {
    display: inline-block;
    margin: 5px;
    list-style: none
}

svg {
  min-width: 30px;
  width: 0.5vw;
}

a {
  color: white;
  min-height: 50px;
  text-decoration: none;
  padding: 10px 5px 5px 5px;
}

path {
  fill:white;
}

/*
  css
*/
div#nav-icon span {
  display: block;
  height: 6px;
  width: 35px;
  background-color: white;
  margin-bottom: 6px;
}


/*
  tag css
*/
#name {
  font-size: 25px;
}

#nav-icon {
  display: none;
  cursor: pointer;
  align-self: flex-start;
  margin: 5px;
  transition: .5s ease-in-out;
}
/*
  Animation css
*/
a:hover {
  color: red;
  border-bottom: solid;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#nav-icon span:nth-child(1) {
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1){
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2){
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3){
  transform: rotate(-45deg);
}

/*
  media queries
*/

@media only screen and (max-width: 600px) {
  .flex, .header-left {
    flex-direction: column;
  }

  .header-title, .header-right {
    display: none;
  }

  #nav-icon {
    display: block;
  }

  li {
    display: none;
  }

  .flex {
    min-height: 50px;
  }
}